// 1. Define your brand color

@import "variable";
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

@import "layout";
@import "overrides";
@import "components";
@import "variable";
@import "auth";

// 1. Force dark text on primary buttons
.btn-primary {
  --bs-btn-color: #212529;
  --bs-btn-hover-color: #000000;
  --bs-btn-active-color: #000000;
}

// 2. Force dark text on solid primary backgrounds (like badges)
.bg-primary,
.text-bg-primary {
  color: #212529 !important;
}

// 3. Force dark text inside progress bars
.progress-bar.bg-primary {
  color: #212529;
}

.list-group-item.active {
  --bs-list-group-active-color: #212529;
  --bs-list-group-active-bg: var(--bs-primary);
  --bs-list-group-active-border-color: var(--bs-primary);
}

header,
footer {
  background-color: #212529;
  color: #ffffff;
}

[data-bs-theme="dark"] header,
[data-bs-theme="dark"] footer {
  background-color: #141619;
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link { 
  color: $primary !important; 
}

.navbar-dark .navbar-nav .nav-link:hover { 
  color: #cab621 !important; 
}

.box {
  /* A soft, muted off-white. Not harsh like #fff */
  background-color: #f4f5f7; 
}

/* 2. Dark Mode Override */
[data-bs-theme="dark"] .box {
  background-color: #343a40;
}